*{
    margin: 0px;
    padding: 0px;
}
.body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    border-radius: 20px;
    font-size: 10px;
    transition: background 
    color: aqua;
    text-align: center;
    background-color: aqua;
}

 :hover{
    
    color: white;
   
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease
}